.bubble {
  position: fixed;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(150, 181, 205, 0.5));
  border-radius: 50%;
}

.bubble1 {
  top: 50%;
  right: -10rem;
  z-index: -1;
  width: 70rem;
  height: 70rem;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(150, 181, 205, 0.5));
}

.bubble2 {
  top: 80%;
  left: 0;
  z-index: -1;
  width: 50rem;
  height: 50rem;
}

.bubble3 {
  top: 20%;
  left: 0;
  z-index: -1;
  width: 80rem;
  height: 80rem;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(150, 181, 205, 0.5));
}

.bubble4 {
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 60rem;
  height: 60rem;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(150, 181, 205, 0.5));
}