header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0a912;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}