@media only screen and (max-width: 400px) {
  
  #logo, .write-tweet {
    font-size: 1.8rem;
  }

  nav {
    padding: 1rem;
  }

  .profile img {
    width: 10rem;
    height: auto;
  }

  .new-tweet {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  #tweet-text {
    height: 2.5rem;
  }

  article.tweet {
    padding: 1rem;
  }

  .user-handle, .name-wrapper span {
    font-size: 1.2rem;
  }
  .name-wrapper img {
    width: 3rem;
    height: auto;
    padding-right: 0.5rem;
  }

  .tweet-post {
    font-size: 1.8rem;
    padding: 2rem 1rem 1rem;
  }

  .tweet-post::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    border-radius: 0.5rem;
    background-color: #000;
  }

  footer {
    margin-top: 1rem;
  }

  .button-up {
    width: 5rem;
    height: 5rem;
    bottom: 2.5rem;
    right: 2.5rem;
  }

  .button-up i {
    font-size: 2rem;
  }

  .divider {
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .bubble1 {
    top: 50%;
    right: -10rem;
  }
  
  .bubble2 {
    top: 80%;
    left: -10rem;
  }
  
  .bubble3 {
    top: 20%;
    left: -10rem;
  }
  
  .bubble4 {
    top: 30%;
    left: 90%;
  }
}