nav {
  color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

#logo {
  font-family: 'bungee', 'sans-serif';
}

nav span {
  text-align: center;
  font-weight: bold;
}

nav span i {
  color: red;
}