nav {
  color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

#logo {
  font-family: 'bungee', 'sans-serif';
}

.write-tweet {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.write-tweet i {
  color: rgb(180, 73, 207);
}

.write-tweet:hover i{
  animation: 1.3s linear infinite bouncedown;
}

@keyframes bouncedown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }

}