nav {
  height: 120px;
  width: 100%;
  color: #fff;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-family: 'bungee', 'sans-serif';
}

nav span {
  text-align: center;
}

nav span i {
  color: red;
}